.my-text-style, .signature-text {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  font-size: 1vw;
  color: #32a852;
}

.signature-text {
  font-style: italic;
}

table {
  border-collapse: collapse;
  width: 800px;
}
table th, table td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #32a852;
}

.responsive {
  width: 100%;
  max-width: 250px;
  height: auto;
}

@media print {
  body {
    color: #32a852;
  }
}

.regular {
  text-align: center;
  font-size: 12pt;
  color: #32a852;
  align-items: center;
  /* justify-content: center */
}

.error {
  color: red
}
